@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');

html {
  height: 100%;
}

body {
  font: 16px/1.4 'Fira Sans', sans-serif;
  color: #333;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Home
  ========================================================== */

.container {
  padding: 30px 20px;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media (min-width: 400px) {
  .container {
    padding: 60px 20px 70px;
  }
}

.main-title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 1.4em;
  margin-bottom: 50px;
}

.features {
  margin-bottom: 60px;
}

.features li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.features li::before {
  content: '☑️';
  position: absolute;
  top: 0.2em;
  left: 0;
  font-size: 90%;
}

.features a {
  text-decoration: underline;
}

.btn {
  background-color: dodgerblue;
  color: #fff;
  padding: 0.7em 1.4em;
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid dodgerblue;
}

.btn-outline {
  background-color: transparent;
  color: dodgerblue;
}

.btn + .btn {
  margin-left: 15px;
}

.social {
  padding-top: 40px;
}

.social a {
  display: inline-block;
  vertical-align: middle;
}
.social a:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 500px) {
  .social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    padding-top: 0;
  }
}

/* Footer
  ========================================================== */

.footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 30px 20px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.footer a {
  text-decoration: underline;
}

/* Compare
  ========================================================== */

.compare-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  position: relative;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 20px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}

@media (min-width: 750px) {
  .header {
    max-width: none;
  }
}

.header-title {
  font-weight: 600;
  font-size: 1.4em;
}

.header-back {
  position: absolute;
  top: 30px;
  left: 20px;
  padding-top: 0.4em;
}

.header-back:active,
.header-back:focus,
.header-back:hover {
  text-decoration: underline;
}

.header-note {
  margin-top: 20px;
  font-size: 95%;
  padding: 10px;
  background-color: lemonchiffon;
}

@media (min-width: 750px) {
  .header-note {
    display: none;
  }
}

/* Compare */

.compare {
  width: 100%;
}

@media (max-width: 749px) {
  .compare {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 70px;
  }
}

@media (min-width: 750px) {
  .compare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

.compare-item {
  margin-bottom: 30px;
}

@media (min-width: 750px) {
  .compare-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33.33333%;
    padding: 20px 20px 0;
    margin-bottom: 0;
  }
}

@media (min-width: 750px) {
  .compare-item-header {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

.compare-title {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.compare-title a:active,
.compare-title a:focus,
.compare-title a:hover {
  color: dodgerblue;
}

@media (min-width: 750px) {
  .compare-title {
    margin-bottom: 0;
  }
}

.compare-btn {
  text-decoration: underline;
}

@media (min-width: 750px) {
  .compare-btn {
    font-size: 85%;
    text-decoration: none;
  }
  .compare-btn:active,
  .compare-btn:focus,
  .compare-btn:hover {
    text-decoration: underline;
  }
}

.compare-frame {
  display: none;
}

@media (min-width: 750px) {
  .compare-frame {
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
